h1, h2 {color: steelblue;}
.content-block {width: 800px; margin-left: 20px;}
#statTab {border: 1px solid steelblue; border-collapse: collapse; width: 400px;}
#statTab tr td {border: 1px solid steelblue; padding: 5px;}